<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Receipts</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
          <li><a href="{% url 'home'%}">receipts</a></li>
          <li><a href="{% url 'create_receipt'%}">create receipt</a></li>
          <li><a href="{% url 'account_list' %}">accounts</a></li>
          <li><a href="{% url 'create_account' %}">create account</a></li>
          <li><a href="{% url 'category_list'%}">categories</a></li>
          <li><a href="{% url 'create_category' %}">create category</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Signup</a></li>
        {% endif %}
        </ul>
    </nav>
  </header>
  {% if user.is_authenticated %}
  <main>
    <h1>My Receipts</h1>
    <table>
      <thead>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th>
        <th>Account</th>
      </thead>
      <tbody>
      {% for item in receipt_list %}
        <tr>
          <td>{{item.vendor}}</td>
          <td>{{item.total}}</td>
          <td>{{item.tax}}</td>
          <td>{{item.date| date:"m/d/y"}}</td>
          <td>{{item.category.name}}</td>
          <td>{{item.account.name}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </main>
  {% endif %}
</body>
</html>
